@import 'css/normalize.less';
@import 'css/palette.less';
@import 'css/layout.less';
@import 'css/font.less';

// Theme Color
@color--brand: @cyan-5;
@color--second: @cyan-6;
@color--third: @cyan-7;
@color--primary: @cyan-3;
@color--info: @lightblue-3;
@color--warring: @amber-3;
@color--danger: @red-3;
@color--default: @grey-3;

@height--bar: 50px;
@height--cell: 44px;
@height--avatar: 24px;

@height--button-xs: 20px;
@height--button-sm: 32px;
@height--button-md: 42px;
@height--button-lg: 54px;

@width--avatar: @height--avatar;

@border-radius--card: 8px;
@border-radius--max: 999px;

// Card
.card-base () {
  border-radius: @border-radius--card;
  box-shadow: 0 3px 1px 0 rgba(0, 0, 0, .05), 0 2px 2px 0 rgba(0, 0, 0, .1), 0 3px 3px 0 rgba(0, 0, 0, .05)
}

// Background
.backgroud-wrap () {
  position: relative;
}

.backgroud-base (@border-radius: @border-radius--card) {
  position: absolute;
  border-radius: @border-radius;
}

// Avatar
.avatar-base (@width: @height--avatar, @width: @height--avatar) {
  width: @width;
  height: @height;
}

div.wrap-base, section.wrap-base {
  .wrap-base();
  
  // Solute the problem that children's margin will affect parent's.
  &::before, &::after {
    content:'';
    display: flex;
  }

  &.full {
    padding: 0 0;
  }
  
  &.row {
    .flex-base(row);
  }

  &.col {
    .flex-base(column);
  }

  &.grid {
    .flex-base(row, wrap);
  }
}
// User Defined
div.wrap-base, section.wrap-base {

  &.row > div, &.grid > div,
  &.row > a, &.grid > a {
    margin-right: @wrap-margin-xs;
  }
  &.col > div, > div,
  &.col > div, > div {
    margin-top: @wrap-margin-xs;
    margin-bottom: @wrap-margin-xs;
  }
}
