@import 'iconfont/iconfont.css';
/**
 * Normalize
 */
html {
  -webkit-tap-highlight-color: transparent;
}
body {
  margin: 0;
}
a {
  text-decoration: none;
}
a:focus,
input:focus,
button:focus,
textarea:focus,
[class*='z-']:focus {
  outline: none;
}
ol,
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
input,
button,
textarea {
  color: inherit;
  font: inherit;
}
div.wrap-base,
section.wrap-base {
  margin: 8px 0;
  padding: 0 8px;
}
div.wrap-base::before,
section.wrap-base::before,
div.wrap-base::after,
section.wrap-base::after {
  content: '';
  display: flex;
}
div.wrap-base.full,
section.wrap-base.full {
  padding: 0 0;
}
div.wrap-base.row,
section.wrap-base.row {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
}
div.wrap-base.col,
section.wrap-base.col {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
}
div.wrap-base.grid,
section.wrap-base.grid {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: center;
}
div.wrap-base.row > div,
section.wrap-base.row > div,
div.wrap-base.grid > div,
section.wrap-base.grid > div,
div.wrap-base.row > a,
section.wrap-base.row > a,
div.wrap-base.grid > a,
section.wrap-base.grid > a {
  margin-right: 8px;
}
div.wrap-base.col > div,
section.wrap-base.col > div,
div.wrap-base > div,
section.wrap-base > div,
div.wrap-base.col > div,
section.wrap-base.col > div,
div.wrap-base > div,
section.wrap-base > div {
  margin-top: 8px;
  margin-bottom: 8px;
}
div.demo--button,
div.demo--layout {
  margin: 0px;
  padding: 0px;
}
div.demo--button section > div.wrap-base,
div.demo--layout section > div.wrap-base {
  background-color: #BDBDBD;
}
div.demo--button section > div.wrap-base > .item,
div.demo--layout section > div.wrap-base > .item {
  width: 50px;
  height: 50px;
  background-color: #00bcd4;
  display: flex;
  justify-content: center;
  align-items: center;
}
div.demo--button section > .text,
div.demo--layout section > .text {
  padding: 8px;
  margin: 8px;
  font-size: 18px;
  text-align: left;
  border-radius: 8px;
}
div.demo--button section > .text--default,
div.demo--layout section > .text--default {
  color: #000000;
  background-color: #F5F5F5;
}
div.demo--button section > .text--primary,
div.demo--layout section > .text--primary {
  color: #006064;
  background-color: #b2ebf2;
}
div.demo--button section > .text--info,
div.demo--layout section > .text--info {
  color: #01579B;
  background-color: #B3E5FC;
}
div.demo--button section > .text--warring,
div.demo--layout section > .text--warring {
  color: #FF6F00;
  background-color: #FFECB3;
}
div.demo--button section > .text--danger,
div.demo--layout section > .text--danger {
  color: #B71C1C;
  background-color: #FFCDD2;
}
