@import 'iconfont/iconfont.css';
/**
 * Normalize
 */
html {
  -webkit-tap-highlight-color: transparent;
}
body {
  margin: 0;
}
a {
  text-decoration: none;
}
a:focus,
input:focus,
button:focus,
textarea:focus,
[class*='z-']:focus {
  outline: none;
}
ol,
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
input,
button,
textarea {
  color: inherit;
  font: inherit;
}
div.wrap-base,
section.wrap-base {
  margin: 8px 0;
  padding: 0 8px;
}
div.wrap-base .full,
section.wrap-base .full {
  padding: 0 0;
}
div.wrap-base .row,
section.wrap-base .row {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
}
div.wrap-base .row > div:first-child,
section.wrap-base .row > div:first-child {
  margin-right: 0;
}
div.wrap-base .row > div,
section.wrap-base .row > div {
  margin-left: 8px;
  margin-right: 8px;
}
div.wrap-base .col,
section.wrap-base .col {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
}
div.wrap-base .grid,
section.wrap-base .grid {
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-start;
  align-items: center;
}
div.wrap-base > div,
section.wrap-base > div {
  margin-top: 8px;
  margin-bottom: 8px;
}
.z-card--0002 {
  display: flex;
  flex-flow: row nowrap;
  border-bottom: 1px solid #F5F5F5;
  width: 100%;
}
.z-card--0002 .card {
  padding: 8px 8px 8px 8px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  position: relative;
}
.z-card--0002 .card .backgroud {
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 8px;
  z-index: -1;
  overflow: hidden;
}
.z-card--0002 .card .backgroud img {
  opacity: 0.6;
}
.z-card--0002 .card .thumb {
  width: 40px;
  min-width: 40px;
  height: 40px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
.z-card--0002 .card .thumb img {
  width: 100%;
  height: 100%;
}
.z-card--0002 .card .box {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  margin-left: 20px;
  text-align: left;
}
.z-card--0002 .card .box .nickname {
  color: #006064;
  font-size: 16px;
}
.z-card--0002 .card .box .text {
  padding: 8px;
  margin-bottom: 8px;
  color: #006064;
  font-size: 14px;
  border-radius: 8px;
  box-shadow: 0 3px 1px 0 rgba(0, 0, 0, 0.05), 0 2px 2px 0 rgba(0, 0, 0, 0.1), 0 3px 3px 0 rgba(0, 0, 0, 0.05);
}
.z-card--0002 .card .box .footer {
  color: #00838f;
  font-size: 14px;
}
.z-card--0002 .card .box .footer .time {
  color: #969799;
}
