@import '../../style/zzj.less';

div.button-wrap{

  >button.button{
    .flex-base();

    &.button{

      &--xs{
        height: @height--button-xs;
        border-top: solid transparent 1px;
      }
      &--sm{
        height: @height--button-sm;
        border-top: solid transparent 1px;
      }
      &--md{
        height: @height--button-md;
        border-top: solid transparent 1px;
      }
      &--lg{
        height: @height--button-lg;
        border-top: solid transparent 1px;
      }
      &--default{
        background-color: @color--default;
      }
      &--primary{
        background-color: @color--primary;
      }
      &--warring{
        background-color: @color--warring;
      }
      &--danger{
        background-color: @color--danger;
      }
      &--disabled{
        opacity: 6;
      }
      &--loading{
        opacity: 6;
      }
      &--round{
        border-radius: @border-radius--max;
      }
      &--square{
        border-radius: 0px;
      }
    }

    // >.icon{

    //   img{}
    // }

    // >.text{

    //   >.title{

    //   }
    // }

  }
}